.menueButton{
    background-color: aquamarine;
    height: 50px;
    width: 200px;
    text-align: center;
    color: white;
    border-radius: 20%;
}

.infoPannel{
    background-color: lightgray;
    height: 1000px;
    width: 500px;
    color: black;
    justify-content: center;
    text-align: center;
    font: bold;
}